{% extends "base.html" %}

{% block content %}
<h2 class="text-3xl font-bold text-gray-800 dark:text-red-800 mb-6 text-center pt-5">Edit Portfolio</h2>
<form method="POST" action="{{ url_for('main.edit_portfolio', portfolio_id=portfolio.id)}}" class="bg-white dark:bg-gray-800 shadow-md rounded px-8 py-6">
  {{ form.hidden_tag() }}
  <fieldset>
    <legend class="block text-lg font-medium text-gray-900 dark:text-white mb-4">Please enter your information:</legend>

    <p class="mb-4">
      {{ form.bio.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
      {{ form.bio(class="resize-y block w-full p-3 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", rows="5", placeholder="Write a short bio...") }}

      {% for error in form.bio.errors %}
        <span class="text-red-500 text-sm">{{ error }}</span>
      {% endfor %}
    </p>
    
    <div id="skills-wrapper" class="space-y-2 mb-4">
      <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Skills</label>
      
      {{ form.skills(class="block w-full p-2.5 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500") }}

      {% for error in form.skills.errors %}
        <span class="text-red-500 text-sm">{{ error }}</span>
      {% endfor %}
    </div>
    
    <button type="button" onclick="addSkillField()" class="text-blue-600 hover:underline text-sm mb-4">
      + Add another skill
    </button>

    <p class="text-center">
      {{ form.submit(class="text-white bg-blue-600 hover:bg-blue-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center") }}
    </p>
  </fieldset>
</form>

{% endblock %}