{% extends "base.html" %}

{% block content %}

<h1>Sign Up</h1>

<form action="{{ url_for('auth.signup') }}" method="POST">
  {{ form.hidden_tag() }}
  <fieldset>
    <legend>Create your account</legend>
    <div class="form-field">
      {{ form.username.label }}
      {{ form.username }}
      <ul>
        {% for error in form.username.errors %}
          <li class="error">{{ error }}</li>
        {% endfor %}
      </ul>
    </div>

    <div class="form-field">
      {{ form.email.label }}
      {{ form.email }}
      <ul>
      {% for error in form.email.errors %}
        <li class="error">{{ error }}</li>
      {% endfor %}
      </ul>
    </div>

    <div class="form-field">
      {{ form.password.label }}
      {{ form.password }}
      <ul>
      {% for error in form.password.errors %}
        <li class="error">{{ error }}</li>
      {% endfor %}
      </ul>
    </div>

    <div class="form-field">
      {{ form.submit }}
    </div>
  </fieldset>
</form>

<p>Already have an account? <a href="{{ url_for('auth.login') }}">Log in here</a>.</p>

{% endblock %}